// Fonts
@mixin font-body{
    font-family: $font-body;
    font-weight: normal;
}

@mixin font-primary {
    font-family: $font-primary;
    font-weight:  700;
}

@mixin font-semibold {
    font-family: $font-primary;
    font-weight: 600;
}

@mixin $font-light {
    font-family: $font-body;
    font-weight: normal;
}

@mixin clearfix {
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

@mixin fontawesome {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin border-radius($number...) {
    -webkit-border-radius: $number;
    border-radius: $number;
}

@mixin box-shadow($val...) {
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    box-shadow: $val;
}

@mixin text-shadow($val...) {
    -webkit-text-shadow: $val;
    text-shadow: $val;
}

@mixin transition($val...) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
}

@mixin transition-duration($val...) {
    -webkit-transition-duration: $val;
    -moz-transition-duration: $val;
    -o-transition-duration: $val;
    transition-duration: $val;
}

@mixin transition-property($val...) {
    -webkit-transition-property: $val;
    -moz-transition-property: $val;
    -o-transition-property: $val;
    transition-property: $val;
}

@mixin transition-timing-function($val...) {
    -webkit-transition-timing-function: $val;
    -moz-transition-timing-function: $val;
    -o-transition-timing-function: $val;
    transition-timing-function: $val;
}


/* Translate */

@mixin translate($val...) {
    -webkit-transform: translate($val);
    -moz-transform: translate($val);
    -ms-transform: translate($val);
    -o-transform: translate($val);
    transform: translate($val);
}

@mixin translateX($val...) {
    -webkit-transform: translateX($val);
    -moz-transform: translateX($val);
    -ms-transform: translateX($val);
    -o-transform: translateX($val);
    transform: translateX($val);
}

@mixin translateY($val...) {
    -webkit-transform: translateY($val);
    -moz-transform: translateY($val);
    -ms-transform: translateY($val);
    -o-transform: translateY($val);
    transform: translateY($val);
}

@mixin translate3d($val...) {
    -webkit-transform: translate3d($val);
    -moz-transform: translate3d($val);
    transform: translate3d($val);
}

@mixin scale($val...) {
    -webkit-transform: scale($val);
    -moz-transform: scale($val);
    -o-transform: scale($val);
    transform: scale($val);
}

@mixin scaleX($val...) {
    -webkit-transform: scaleX($val);
    -moz-transform: scaleX($val);
    -o-transform: scaleX($val);
    transform: scaleX($val);
}

@mixin scaleY($val...) {
    -webkit-transform: scaleY($val);
    -moz-transform: scaleY($val);
    -o-transform: scaleY($val);
    transform: scaleY($val);
}

@mixin rotate($val...) {
    -webkit-transform: rotate($val);
    -ms-transform: rotate($val);
    transform: rotate($val);
}

@mixin transform-origin($val...) {
    -webkit-transform-origin: inherit;
    -moz-transform-origin: inherit;
    -ms-transform-origin: inherit;
    -o-transform-origin: inherit;
    transform-origin: inherit;
}

@mixin animation($val...) {
    -webkit-animation: $val;
    -moz-animation: $val;
    -o-animation: $val;
    animation: $val;
}

// Hide arrow for select
@mixin hide-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    &::-ms-expand {
        display: none;
    }
    // Make objects can't click able
    // pointer-events: none;
}

// Opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

@mixin placeholder($val...) {
    &::-webkit-input-placeholder {
        color: $val;
    }
    &:-moz-placeholder {
        color: $val;
        opacity: 1;
    }
    &::-moz-placeholder {
        color: $val;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $val;
    }
    &:placeholder {
        color: $val;
    }
}

@mixin form-default-label {
    label {
        display: block;
        margin-bottom: 5px;
    }
}

@mixin form-default-input {
    border: 1px solid rgba($title-color, .3);
    @include border-radius(3px);
    background-color: $white-color;
    color: $title-color;
    &:focus {
        border: 1px solid rgba($title-color, .6);
        outline: none;
    }
}

@mixin btn {
    display: inline-block;
    @include border-radius(5px);
    font-size: $font-size-16;
    @include font-primary;
    padding: 9px 25px;
    background-color: $white-color;
    color: $body-color;
    @include transition(0.3s all);
    line-height: 1.42857143;
    &:hover,
    &:focus {
        background-color: $link-color;
        color: $white-color;
    }
}

@mixin btn-skin-default {
    background-color: #777777;
    color: $white-color;
    border-color: #777777;
    &:hover,
    &:focus {
        background: #96bee4;
        color: $white-color;
        border-color: #96bee4;
    }
}


// Container
@mixin container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @media (min-width: $desktop) {
        width: 1170px;
    }
    @media (min-width: $tablet-ht) and (max-width: $desktop - 1) {
        width: 970px;
    }
    @media (min-width: $tablet-vt) and (max-width: $tablet-ht - 1) {
        width: 750px;
    }
}


// List text not type
@mixin ul-default {
    li {
        list-style: none;
        margin-left: 0;
        padding: 0;
    }
}
@mixin display-flex{
    display: -webkit-flex;
    display: flex;
}

@mixin flex($val...){
    -webkit-flex: $val; /* Safari 6.1+ */
    -ms-flex: $val; /* IE 10 */ 
    flex: $val;    
}


@mixin flex-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@mixin flex-justify-content($val...) {
    -webkit-box-pack: $val;
    -webkit-justify-content: $val;
    -ms-flex-pack: $val;
    justify-content: $val;
}
@mixin flex-items($val...) {
    -webkit-box-align: $val;
    -webkit-align-items: $val;
    -ms-flex-align: $val;
    align-items: $val;
  }
@mixin flex-col-xs {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
@mixin flex-width-col-xs($val){
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 $val;
    -ms-flex: 0 0 $val;
    flex: 0 0 $val;
    max-width: $val;
}
@mixin flex-direction($val){
    -webkit-flex-direction: $val;
    -moz-flex-direction: $val;
    -ms-flex-direction: $val;
    flex-direction: $val;
}
@mixin flex-order($val){
    -webkit-order: $val;
    -moz-order: $val;
    -ms-order: $val;
    order: $val;
}
@mixin flex-self($val){
    -webkit-align-self: $val; /* Safari 7.0+ */
    align-self: $val;
}
 