// =============================================================================
// TYPOGRAPHY
// =============================================================================
$font-body:             'Raleway', sans-serif;
$font-primary:          'Raleway', sans-serif;
$font-semibold:	        'Raleway', sans-serif;
$font-light:	   		'Raleway', sans-serif;

// Font Size
$font-size-body:        16px;

$font-size-16:          ceil($font-size-body * 1);
$font-size-14:          ceil($font-size-body * 0.825);
$font-size-15:          ceil($font-size-body * 0.937);
$font-size-19:          ceil($font-size-body * 1.187);
$font-size-21:          ceil($font-size-body * 1.312);
$font-size-22:          ceil($font-size-body * 1.375);
$font-size-24:          ceil($font-size-body * 1.5);





// Colors
$white-color:			#ffffff;
$black-color:			#000000;
$darkgray-color:		#343434;
$link-color:			#013ca6;
$body-color:			$darkgray-color !default;	
$title-color:			$darkgray-color !default;		


// Devices
$desktop:               1200px;
$tablet-ht:             992px;		// Tablet Horizontal
$tablet-vt:             768px;		// Tablet Vertical
$mobile:                640px;
$mobile-md:             480px;
$mobile-sm:             360px;
$mobile-xs:             320px;