/*------------------------------------------------------------------*/
/* Typography */

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    color: $body-color;
    @include font-body;
    font-size: $font-size-body;
}

h1, h2, h3, h4, h5 {
    color: $title-color;
    margin: 0 0 20px;
}
h1{
    font-size: $font-size-50;
}

h2{
    font-size: $font-size-24;
}

h3{
    font-size: $font-size-22;
}

h4{
    font-size: $font-size-21;
}

h5{
    font-size: $font-size-19;
}

h6{
    font-size: $font-size-16;
}

a {
    @include transition(all 0.3s ease-out);
    color: $link-color;
    outline: none;
    &:hover, &:focus {
        color: darken($link-color, 8%);
        outline: none;
        text-decoration: none;
    }
}

strong {
    font-weight: 700;
}

ul, ol {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

address {}

label {}

img {
    max-width: 100%;
    height: auto;
}

input, select, textarea {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}