/* background skin */
.change-skin-menu-wrapper {
    .bg-default a {
        background: rgba(#000, 0.8) url('../images/bg-body.jpg') repeat-y center 0;
    }

    .bg-1 a {
        background: url(../images/skins-menu/bg-1.png) 0 0 repeat;
    }
}

/* change background */
@mixin change_bg($bg) {
    background: url("../images/skins-menu/#{$bg}.png") 0 0 repeat;
}

.bg-1 {
    @include change_bg(bg-1);
}

.bg-default {
    background: rgba(#000, 0.8) url('../images/bg-body.jpg') repeat-y center 0;
}